<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">

    <property name="LOG_PATH" value="/mnt/applications"/>
    <springProperty scope="context" name="logName" source="spring.application.name" />

    <springProfile name="dev">
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ssS} %5p [%c]:%L-%m%n</pattern>
            </encoder>
        </appender>
        <root level="info">
       		<appender-ref ref="console" />
   		</root>
    </springProfile>

    <springProfile name="prod">
        <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/${logName}/${logName}.log</file>
            <append>true</append>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ssS} %5p [%c{5}#%M]:%L-%m%n%caller{0}</pattern>
            </encoder>
            <prudent>false</prudent>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover -->
                <fileNamePattern>${LOG_PATH}/${logName}/logs/${logName}.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
        </appender>
        <root level="info">
       		<appender-ref ref="logfile" />
   		</root>
    </springProfile>


</configuration>
